<ng-container *ngIf="article$ | async as article">
  <div class="p-5 w-full min-h-screen">
    <div cdkDropList class="component-list">
      <div
        class="relative component-box"
        [style.order]="component.order"
        cdkDrag
        [cdkDragDisabled]="
          component.dragDisabled ||
          selectedSection$.value?.sectionId !== component.sectionId
        "
        (cdkDragStarted)="dragDropService.onDragStart()"
        (cdkDragEnded)="dragDropService.onDragEnd()"
        *ngFor="let component of article.templateSections; let i = index"
        [attr.id]="'section-' + component.sectionId"
      >
        <ng-container
          *ngIf="selectedSection$.value?.sectionId === component.sectionId"
        >
          <div
            class="absolute top-0 right-0 transform cursor-move text-white z-10 flex flex-row items-center gap-2 bg-accent p-2 rounded-bl-lg w-auto opacity-90"
          >
            <app-mobile-edit
              class="lg:hidden"
              [drawer]="drawer"
              [section]="component"
            ></app-mobile-edit>
            <app-drag-handle
              cdkDragHandle
              [component]="component"
            ></app-drag-handle>
          </div>
        </ng-container>

        <div
          (click)="selectSection(component)"
          [ngClass]="{
            'border-offset-2 border-2 border-accent':
              selectedSection$.value?.sectionId === component.sectionId
          }"
        >
          <ng-template dynamicChildLoader></ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-container>
