<ng-container *ngIf="(!(isHandset$ | async) && buttonText) || !!!icon">
  <ng-container *ngIf="type === 'raised'">
    <button mat-raised-button [color]="color" (click)="doAction()">
      {{ buttonText }}
    </button>
  </ng-container>
  <ng-container *ngIf="type === 'stroked'">
    <button mat-stroked-button [color]="color" (click)="doAction()">
      {{ buttonText }}
    </button>
  </ng-container>
  <ng-container *ngIf="type === 'flat'">
    <button mat-flat-button [color]="color" (click)="doAction()">
      {{ buttonText }}
    </button>
  </ng-container>
</ng-container>

<ng-container *ngIf="(isHandset$ | async) && !!icon">
  <button (click)="doAction()" class="flex justify-center">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
</ng-container>
