<ng-container *ngIf="selectedTool$ | async as selectedTool">
  <!-- Dynamic tool content will be displayed here -->
  <div [ngSwitch]="selectedTool.type">
    <app-ranking-cards
      [tool]="selectedTool"
      *ngSwitchCase="'RANKING_CARDS'"
    ></app-ranking-cards>
    <app-comparison-table
      *ngSwitchCase="'COMPARISON_TABLE'"
      [tool]="selectedTool"
    ></app-comparison-table>
    <!-- ... other components -->
    <div *ngSwitchDefault>Select a tool to begin.</div>
  </div>
</ng-container>
