<!-- UI (FINAL RESULT) -->
<div class="p-5">
  <table
    class="mx-auto w-auto divide-y divide-gray-200 shadow-md rounded-md relative pl-48 m-4"
  >
    <!-- Table Header -->
    <thead>
      <tr class="flex">
        <th class="text-center py-2 w-48 sticky top-0 left-0 bg-white z-10">
          <!-- Changed to absolute here -->
        </th>
        <th
          *ngFor="let product of products?.controls"
          class="text-center py-2 w-48"
        >
          {{ product.get("title")?.value }}
        </th>
      </tr>
    </thead>
    <!-- Table Body -->
    <tbody>
      <!-- Row for Badge -->
      <tr class="flex">
        <td
          class="text-center py-2 w-48 sticky top-0 left-0 bg-white z-10"
        ></td>
        <td
          *ngFor="let product of products?.controls"
          class="text-center py-2 w-48"
        >
          {{ product.get("badge")?.value }}
        </td>
      </tr>
      <!-- Row for Image -->
      <tr class="flex">
        <td
          class="text-center py-2 w-48 sticky top-0 left-0 bg-white z-10"
        ></td>
        <td
          *ngFor="let product of products?.controls; let j = index"
          class="text-center py-2 w-48 flex items-center"
        >
          <img
            *ngIf="imageBeingUploaded[j]; else patchedImagePreview"
            [src]="imagePreviews[j]"
            alt="{{ product.get('title')?.value }}"
            class="mx-auto w-24 h-24 object-cover rounded mb-2"
          />
          <ng-template #patchedImagePreview>
            <img
              *ngIf="product.get('image')?.value"
              [src]="product.get('image')?.value"
              alt="{{ product.get('title')?.value }}"
              class="mx-auto w-24 h-24 object-cover rounded mb-2"
            />
          </ng-template>
        </td>
      </tr>
      <!-- Rows for Comparison Points and their Details -->
      <tr
        *ngFor="let cp of comparisonPoints?.controls; let i = index"
        class="flex"
      >
        <td
          class="text-center py-2 w-48 font-semibold sticky top-0 left-0 bg-white z-10"
        >
          {{ cp.get("value")?.value }}
        </td>
        <td
          *ngFor="let detail of getProductDetails(cp)?.controls"
          class="text-center py-2 w-48"
        >
          {{ detail.get("detail")?.value }}
        </td>
      </tr>
      <!-- Row for Link -->
      <tr class="flex">
        <td
          class="text-center py-2 w-48 sticky top-0 left-0 bg-white z-10"
        ></td>
        <td
          *ngFor="let product of products.controls"
          class="text-center p-2 w-48"
        >
          <button
            class="p-2 w-full bg-primary text-white rounded"
            [attr.href]="product.get('link')?.value"
          >
            {{ product.get("linkText")?.value }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- FORM TO BUILD THE TOOL -->
<ng-template #formDialog>
  <form [formGroup]="comparisonTableForm" class="w-full overflow-x-scroll">
    <table class="w-full divide-y divide-gray-200 shadow-md rounded-md">
      <!-- Table Header -->
      <thead>
        <tr>
          <th></th>
          <ng-container formArrayName="products">
            <th
              *ngFor="let product of products?.controls; let i = index"
              [formGroupName]="i"
            >
              <div class="flex items-center justify-center gap-x-2">
                <button (click)="removeProduct(i)">
                  <mat-icon>delete</mat-icon>
                </button>
                <span>#{{ i + 1 }}</span>
              </div>
            </th>
          </ng-container>
          <!-- ADD PRODUCT COL BUTTON -->

          <th>
            <div class="flex flex-row items-center w-48">
              <button
                class="w-full"
                (click)="addProduct()"
                mat-stroked-button
                color="primary"
              >
                <mat-icon>add_circle</mat-icon>
                Add product
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody>
        <!-- Rows for Title -->
        <ng-container formArrayName="products">
          <tr>
            <td></td>
            <td
              *ngFor="let product of products?.controls; let j = index"
              [formGroupName]="j"
            >
              <mat-form-field class="w-full">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required />
              </mat-form-field>
            </td>
          </tr>
        </ng-container>
        <!-- Rows for Badge -->
        <ng-container formArrayName="products">
          <tr>
            <td></td>
            <td
              *ngFor="let product of products?.controls; let j = index"
              [formGroupName]="j"
            >
              <mat-form-field class="w-full">
                <mat-label>Badge</mat-label>
                <input matInput formControlName="badge" />
              </mat-form-field>
            </td>
          </tr>
        </ng-container>
        <!-- Rows for Image -->
        <ng-container formArrayName="products">
          <tr>
            <td></td>
            <td
              *ngFor="let product of products.controls; let j = index"
              [formGroupName]="j"
            >
              <div class="flex flex-col items-center justify-center">
                <!-- Image Preview -->
                <img
                  *ngIf="imageBeingUploaded[j]; else patchedImage"
                  [src]="imagePreviews[j]"
                  class="w-24 h-24 object-cover rounded mb-2"
                  alt="Product Image Preview"
                />
                <ng-template #patchedImage>
                  <img
                    *ngIf="product.value.image"
                    [src]="product.value.image"
                    class="w-24 h-24 object-cover rounded mb-2"
                    alt="Product Image Preview"
                  />
                </ng-template>

                <app-image-uploader
                  #imageUploader
                  text="Upload"
                  [filename]="product.value.image && 'Replace'"
                  [docRef]="getDocRef(product)"
                  (downloadUrl)="continueSaving($event)"
                  (filePreview)="updateImagePreview($event, j)"
                >
                  ></app-image-uploader
                >
              </div>
            </td>
          </tr>
        </ng-container>
        <!-- Separate Rows for Link Text -->
        <ng-container formArrayName="products">
          <tr>
            <td></td>
            <td
              *ngFor="let product of products?.controls; let j = index"
              [formGroupName]="j"
            >
              <mat-form-field class="w-full">
                <mat-label>Button Text</mat-label>
                <input matInput formControlName="linkText" />
              </mat-form-field>
            </td>
          </tr>
        </ng-container>
        <!-- Separate Rows for Link -->
        <ng-container formArrayName="products">
          <tr>
            <td></td>
            <td
              *ngFor="let product of products?.controls; let j = index"
              [formGroupName]="j"
            >
              <mat-form-field class="w-full">
                <mat-label>Button Link</mat-label>
                <input matInput formControlName="link" />
              </mat-form-field>
            </td>
          </tr>
        </ng-container>
        <!-- Rows for Comparison Points and their Details -->
        <ng-container formArrayName="comparisonPoints">
          <tr
            *ngFor="let cp of comparisonPoints?.controls; let i = index"
            [formGroupName]="i"
          >
            <td>
              <div class="flex flex-row items-center">
                <button (click)="removeComparisonPoint(i)">
                  <mat-icon>delete</mat-icon>
                </button>
                <mat-form-field class="w-full">
                  <mat-label>Comparison Point</mat-label>
                  <input matInput formControlName="value" required />
                </mat-form-field>
              </div>
            </td>
            <!-- Nested Product Details for each Comparison Point -->
            <ng-container formArrayName="productsDetails">
              <td
                *ngFor="
                  let detail of getProductDetails(cp)?.controls;
                  let j = index
                "
                [formGroupName]="j"
              >
                <mat-form-field class="w-full">
                  <mat-label>Detail</mat-label>
                  <input matInput formControlName="detail" required />
                </mat-form-field>
              </td>
            </ng-container>
          </tr>
          <!-- ADD COMPARISON POINT BUTTON -->
          <tr>
            <td>
              <div class="flex flex-row items-center">
                <button
                  class="w-full"
                  (click)="addComparisonPoint()"
                  mat-stroked-button
                  color="primary"
                >
                  <mat-icon>add_circle</mat-icon>
                  Add point
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </form>
</ng-template>
