<ng-container *ngIf="component && !component.dragDisabled">
  <!-- Drag Handle Icon -->
  <ng-container *ngIf="panel">
    <button
      [ngClass]="panelClasses"
      class="flex items-center opacity-50 hover:opacity-100"
    >
      <mat-icon>drag_indicator</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="!panel">
    <button class="flex items-center opacity-50 hover:opacity-100">
      <mat-icon>drag_indicator</mat-icon>
    </button>
  </ng-container>
</ng-container>

<ng-container *ngIf="block && !block.dragDisabled">
  <!-- Drag Handle Icon -->
  <div [ngClass]="panel ? panelClasses : classes" cdkDragHandle>
    <button class="flex items-center opacity-50 hover:opacity-100">
      <mat-icon>drag_indicator</mat-icon>
    </button>
  </div>
</ng-container>
