<ng-container *ngIf="article$ | async as article">
  <form [formGroup]="articleForm">
    <div class="flex flex-col lg:flex-row min-h-screen p-5 w-full gap-5">
      <div class="flex flex-col w-full">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title" />
        </mat-form-field>
        <app-text-editor height="h-48" [form]="articleForm" control="content">
        </app-text-editor>
      </div>

      <div class="lg:w-2/5 w-full flex flex-col">
        <div class="rounded-lg p-2 flex flex-col">
          <!-- <span>
          <mat-slide-toggle>{{ article.status }}</mat-slide-toggle>
        </span> -->
          <span>
            <span class="font-semibold">Last saved:</span>
            {{ article.updated_at | date : "short" }}
          </span>
        </div>
        <mat-form-field class="w-full">
          <mat-label>Tags</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
    </div>
  </form>
</ng-container>
