<div class="h-screen flex flex-col justify-center align-center">
  <span class="text-2xl font-semibold text-center">Aff Builder</span>
  <form [formGroup]="form">
    <div
      class="border border-slate-500 rounded-lg p-5 flex flex-col justify-center align-center"
    >
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
        <mat-error
          *ngIf="
            form.get('email')?.hasError('email') &&
            !form.get('email')?.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <input
          matInput
          formControlName="password"
          placeholder="Password"
          type="password"
        />
        <mat-error *ngIf="!form.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <button color="primary" mat-raised-button (click)="signUp()">
        Register
      </button>
    </div>
  </form>
</div>
