<ng-container *ngIf="block">
  <ng-container *ngIf="block.visible">
    <div
      class="text-sm"
      [ngStyle]="{
        color: styles.baseContent
          ? styles.baseContent
          : darkOrLight(styles.base100)
      }"
    >
      {{ block.model?.text }}
    </div>
  </ng-container>
</ng-container>
<ng-template #editorRef let-data>
  <h2 mat-dialog-title>Text</h2>
  <mat-dialog-content>
    <form [formGroup]="form" class="flex flex-col">
      <formly-form
        [fields]="fields"
        [model]="data.model"
        [options]="options"
      ></formly-form>
    </form>
    PREVIEW
    <div class="text-sm">
      {{ data.model?.text }}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [mat-dialog-close]="data"
    >
      Submit
    </button>
  </mat-dialog-actions>
</ng-template>
