<div class="flex min-h-screen w-full p-5">
  <ng-container *ngIf="filteredLinks$ | async as filteredLinks; else loader">
    <div class="flex flex-col gap-5 w-full">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Title, url or category"
          #input
        />
      </mat-form-field>
      <ng-container *ngIf="filteredLinks.length > 0; else addLink">
        <ng-container *ngFor="let link of filteredLinks; let i = index">
          <div
            (click)="openLinkDialog(link)"
            class="z-10 flex flex-row items-center justify-between p-2 bg-slate-100 rounded rounded-lg"
          >
            <div class="w-full flex items-center justify-between">
              <div class="flex items-center">
                <div
                  class="h-10 w-10 flex items-center justify-center"
                  [ngClass]="
                    link.imageUrl ? 'rounded-lg' : ' bg-pink-500 rounded-full'
                  "
                >
                  <span *ngIf="!link.imageUrl">{{ link.title[0] }}</span>
                  <img
                    *ngIf="link.imageUrl"
                    [src]="link.imageUrl"
                    class="h-10 w-10 object-cover rounded-lg"
                  />
                </div>

                <div class="ml-3 flex flex-col">
                  <span class="font-semibold">
                    {{ link.title }}
                  </span>
                  <span class="font-light text-sm">
                    {{ link.url }}
                  </span>
                </div>
              </div>
              <mat-slide-toggle
                class="z-20"
                [checked]="link.active"
                (toggleChange)="toggleStatus(link)"
                (click)="stopPropagation($event)"
              ></mat-slide-toggle>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #addLink>
  <div class="mx-auto mt-10 flex flex-col">
    <span class="font-semibold text-center mb-5"> No links. </span>
    <app-cta
      buttonText="Add a link"
      action="ADD_LINK"
      color="primary"
      type="raised"
    ></app-cta>
  </div>
</ng-template>

<ng-template #loader>
  <app-loader
    class="flex items-center justify-center w-full h-screen"
  ></app-loader>
</ng-template>
