<ng-container [ngSwitch]="section">
  <div class="pl-2 text-sm font-semibold pb-2 border-b w-full">
    <span *ngSwitchCase="'HEADER'"> Header </span>
    <span *ngSwitchCase="'FOOTER'" class=""> Footer </span>
    <span *ngSwitchCase="'TEMPLATE'"> Template </span>
  </div>
</ng-container>
<ul class="w-full" cdkDropList (cdkDropListDropped)="drop($event)">
  <li
    class="w-full"
    *ngFor="let component of components; let i = index"
    cdkDrag
    (cdkDragStarted)="dragDropService.onDragStart()"
    (cdkDragEnded)="dragDropService.onDragEnd()"
    [cdkDragDisabled]="component.dragDisabled"
  >
    <button
      class="group px-2 py-2 flex items-center justify-between rounded w-full hover:bg-accent"
      (click)="selectSection(component)"
      [ngClass]="isSelected === component.sectionId ? 'bg-accent' : ''"
    >
      <div class="flex w-full justify-start items-center">
        <app-expand-section
          [component]="component"
          [isSelected]="isSelected"
        ></app-expand-section>
        <span class="text-sm text-left">{{ component.title }}</span>
      </div>
      <div class="items-center gap-x-2 flex">
        <ng-container *ngIf="component.allowHide">
          <app-visibility-toggle
            [component]="component"
            (toggler)="toggleSection(component, i)"
          ></app-visibility-toggle>
        </ng-container>

        <ng-container *ngIf="component.allowDrag">
          <app-drag-handle
            cdkDragHandle
            [component]="component"
            [panel]="true"
          ></app-drag-handle>
        </ng-container>
        <ng-container *ngIf="component.allowDelete">
          <button
            class="flex items-center opacity-50 hover:opacity-100"
            (click)="removeSection(component, i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </div>
    </button>
    <ng-container *ngIf="component.sectionId === isSelected">
      <div class="pl-8 w-full">
        <ng-container *ngIf="component.blocks | async as blocks">
          <div
            cdkDropList
            (cdkDropListDropped)="dropBlock(component, $event, blocks)"
          >
            <div
              cdkDrag
              (cdkDragStarted)="dragDropService.onDragStart()"
              (cdkDragEnded)="dragDropService.onDragEnd()"
              [cdkDragDisabled]="block.dragDisabled"
              *ngFor="let block of blocks; let y = index"
            >
              <div class="flex flex-col">
                <button
                  class="group px-2 py-2 flex items-center justify-between hover:bg-accent rounded"
                >
                  <div
                    class="flex w-full justify-start items-center"
                    (click)="editBlock(block)"
                  >
                    <span class="text-sm text-left">{{ block.title }}</span>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <ng-container *ngIf="block.allowHide">
                      <app-visibility-toggle
                        [component]="block"
                        (toggler)="toggleBlock(component, block, y)"
                      ></app-visibility-toggle>
                    </ng-container>
                    <ng-container *ngIf="block.allowDrag">
                      <app-drag-handle
                        cdkDragHandle
                        [block]="block"
                        [panel]="true"
                      ></app-drag-handle>
                    </ng-container>
                    <ng-container *ngIf="block.allowDelete">
                      <button
                        class="flex items-center opacity-50 hover:opacity-100"
                        (click)="removeBlock(component, y)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </ng-container>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="component.allowAddBlocks">
          <button
            [matMenuTriggerFor]="blockMenu"
            (click)="openBlockMenu(component)"
            class="w-full -mx-2 px-2 py-2 flex items-center text-primary rounded text-sm"
          >
            <mat-icon class="mr-2">add_circle</mat-icon>
            Add block
          </button>
          <mat-menu #blockMenu="matMenu">
            <ng-container *ngFor="let block of blockMenu$ | async">
              <button mat-menu-item (click)="addBlock(component, block)">
                {{ block.title }}
              </button>
            </ng-container>
          </mat-menu>
        </ng-container>
      </div>
    </ng-container>
  </li>
</ul>
<ng-container *ngIf="moreSections">
  <button
    [matMenuTriggerFor]="sectionMenu"
    (click)="openSectionMenu(section)"
    class="w-full p-2 flex items-center text-primary rounded text-sm"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1"
      stroke="currentColor"
      class="w-5 h-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      />
    </svg>

    <span class="ml-2">Add Section</span>
  </button>
  <mat-menu #sectionMenu="matMenu">
    <ng-container *ngFor="let section of sectionMenu$ | async">
      <button mat-menu-item (click)="addSection(section)">
        {{ section.title }}
      </button>
    </ng-container>
  </mat-menu>
</ng-container>
