<ng-container *ngIf="viewPort$ | async as viewport">
  <ng-container *ngIf="theme$ | async as theme; else loader">
    <ng-container *ngIf="styles$ | async as styles">
      <mat-drawer-container
        autosize
        class="relative h-full"
        fixedInViewport="true"
        [ngClass]="
          viewport.viewport === 'desktop'
            ? 'w-full mx-auto'
            : 'mx-auto rounded-lg iphone14'
        "
        [ngClass]="(isHandset$ | async) ? 'w-full' : ''"
      >
        <mat-drawer
          #fakeDrawer
          mode="over"
          class="h-[calc(100vh-5em)] w-4/5"
          [ngStyle]="{ 'background-color': styles.base100 }"
        >
          <theme-drawer
            class="h-full w-full"
            [fakeDrawer]="fakeDrawer"
            [drawer]="drawer"
          ></theme-drawer>
        </mat-drawer>
        <mat-drawer-content
          #drawerContent
          class="bg-white relative"
          style="overflow-y: auto"
        >
          <theme-header
            [fakeDrawer]="fakeDrawer"
            [drawer]="drawer"
            class="sticky z-20 top-0"
          ></theme-header>
          <theme-template [drawer]="drawer"></theme-template>
          <theme-footer [drawer]="drawer"></theme-footer>
        </mat-drawer-content>
      </mat-drawer-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loader>
  <div class="flex justify-center items-center h-full w-full">
    <app-loader></app-loader>
  </div>
</ng-template>
