<!-- UI (FINAL RESULT) -->
<div class="relative grid grid-cols-12 gap-4 p-5">
  <ng-container *ngFor="let card of products; let i = index">
    <div
      class="col-span-12 lg:col-span-6 relative flex flex-col p-4 bg-white shadow-md rounded-md gap-y-5"
    >
      <!-- Absolute Actions -->
      <div class="flex z-20 absolute -top-5 left-5 items-center w-full">
        <button
          (click)="edit(card, i)"
          class="m-2 bg-gray-200 w-10 h-10 flex items-center justify-center text-sm rounded-lg"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <!-- Highlighted Badge -->
      <span
        class="mx-auto text-xl font-medium px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
        [ngClass]="
          i === 0 ? 'bg-blue-100 text-blue-800' : 'bg-red-100 text-red-800'
        "
      >
        {{ card.badge }}
      </span>
      <!-- Image Section -->
      <div class="w-full flex flex-col justify-center">
        <img
          *ngIf="card.image"
          [src]="card.image"
          alt="{{ card.title }}"
          class="object-contain h-48"
        />
      </div>

      <!-- Middle Section -->
      <div class="flex flex-col w-full gap-y-2.5">
        <!-- Product Title -->
        <h2 class="text-xl font-semibold text-center">
          {{ card.title }}
        </h2>
        <!-- Star Rating & Score -->
        <div class="mx-auto flex items-center text-center">
          <app-star-rating [ratings]="card.ratings"></app-star-rating>
        </div>
        <!-- Features -->
        <ul class="">
          <li
            *ngFor="let feature of card.localFeatures"
            class="flex items-center"
          >
            <span class="mr-1 font-semibold">{{ feature.name }}:</span
            ><span>{{ feature.value }}</span>
          </li>
        </ul>
      </div>

      <!-- (CTA) -->
      <div class="w-full flex flex-col justify-center">
        <button
          class="text-white bg-amazonBlue py-2 px-4 rounded-md hover:bg-amazonDarkBlue"
        >
          {{ card.buttonText }}
        </button>
      </div>
    </div>
    <div
      *ngIf="i === 0"
      class="col-span-12 flex lg:hidden justify-center items-center"
    >
      <div
        class="rounded-full bg-primary text-white text-7xl font-bold text-center p-10"
      >
        VS
      </div>
    </div>
  </ng-container>
  <div
    class="hidden lg:flex absolute h-full w-full justify-center items-center"
  >
    <div
      class="rounded-full bg-primary-100 text-white text-7xl font-bold text-center p-10"
    >
      VS
    </div>
  </div>
</div>
