<div class="flex min-h-screen w-full p-4 flex-col">
  <ng-container *ngIf="page$ | async as page; else loader">
    <mat-toolbar class="mb-5">
      <div class="w-full flex justify-between items-center">
        <div class="flex items-center">
          <button class="mr-2 flex items-center" (click)="back()">
            <mat-icon>arrow_back</mat-icon>
          </button>

          <span>{{ page.title }}</span>
        </div>
        <div class="flex items-center">
          <button class="flex items-center mr-2.5">
            <mat-icon>content_copy</mat-icon>
            <span *ngIf="!(isHandset$ | async)" class="ml-2">Duplicate</span>
          </button>
          <button class="flex items-center ml-2.5">
            <mat-icon>visibility</mat-icon>
            <span *ngIf="!(isHandset$ | async)" class="ml-2">View</span>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <form [formGroup]="form">
      <div class="grid grid-cols-3 gap-5">
        <!-- LEFT SIDE -->
        <div class="col-span-3 lg:col-span-2">
          <div
            class="bg-white p-5 border border-slate-300 drop-shadow rounded-lg flex flex-col h-auto relative mb-5"
          >
            <mat-label>Title</mat-label>
            <mat-form-field class="w-full">
              <input matInput formControlName="title" />
            </mat-form-field>
            <mat-label>Content</mat-label>
            <quill-editor
              formControlName="content"
              class="quillEditor"
              (onContentChanged)="onContentChanged($event)"
            >
            </quill-editor>
          </div>
          <!-- SEO -->
          <div
            class="bg-white p-5 border border-slate-300 drop-shadow rounded-lg flex flex-col h-auto relative"
          >
            <div class="flex items-center justify-between mb-4">
              <div class="font-semibold">Search engine listing preview</div>
              <div
                *ngIf="
                  form.value.metafields.description &&
                  form.value.metafields.title
                "
                class="font-light text-blue-500 text-sm hover:underline cursor-pointer"
                (click)="editSEO = !editSEO"
              >
                Edit SEO
              </div>
            </div>
            <ng-container
              *ngIf="
                !form.value.metafields.description ||
                !form.value.metafields.title
              "
            >
              <span class="text-base text-slate-500"
                >Put a title and some content to show how this Page might look
                when someone finds it on Google or another search engine.</span
              >
            </ng-container>
            <ng-container
              *ngIf="
                form.value.metafields.description && form.value.metafields.title
              "
            >
              <div
                class="flex flex-col mb-5 -mx-5 px-5"
                [ngClass]="editSEO ? 'border-b border-b-slate-300 pb-5' : ''"
              >
                <div class="flex items-center mb-2">
                  <div class="rounded-full h-8 w-8 bg-slate-200 flex">
                    <img
                      src="favicon.ico"
                      class="object-contain w-5 h-5 m-auto"
                    />
                  </div>
                  <div class="flex flex-col ml-3">
                    <span class="text-slate-700 font-light text-sm">{{
                      siteTitle
                    }}</span>
                    <span class="text-slate-700 font-light text-xs">{{
                      location + " > " + form.value.handle
                    }}</span>
                  </div>
                </div>
                <span class="text-blue-700 text-lg">{{
                  form.value.metafields.title
                }}</span>
                <span class="text-slate-700 font-light text-sm">{{
                  form.value.metafields.description
                }}</span>
              </div>
            </ng-container>
            <ng-container formGroupName="metafields" *ngIf="editSEO">
              <mat-form-field class="w-full">
                <mat-label>Page title</mat-label>
                <input matInput formControlName="title" />
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>Description</mat-label>
                <textarea
                  [maxLength]="300"
                  matInput
                  rows="4"
                  formControlName="description"
                ></textarea>
              </mat-form-field>
            </ng-container>
          </div>
          <!-- SEO -->
        </div>
        <!-- LEFT SIDE -->
        <!-- RIGHT SIDE -->
        <div class="col-span-3 lg:col-span-1 flex flex-col gap-y-5">
          <div
            class="bg-white p-5 border border-slate-300 drop-shadow rounded-lg flex flex-col h-auto relative"
          >
            <div class="font-semibold text-base mb-5">Visibility</div>
            <mat-slide-toggle formControlName="visibility"
              >{{ form.value.visibility ? "Visible" : "Hidden" }}
            </mat-slide-toggle>
          </div>
          <div
            class="bg-white p-5 border border-slate-300 drop-shadow rounded-lg flex flex-col h-auto relative"
          >
            <div class="font-semibold text-base mb-5">Template</div>
            <div class="font-normal text-base mb-5">
              Pick a template. It will decide how your page will look like.
            </div>
            <mat-form-field class="w-full">
              <mat-label>Template</mat-label>
              <mat-select formControlName="template">
                <mat-option value="contact"> Contact </mat-option>
                <mat-option value="default"> Default page </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- RIGHT SIDE -->
      </div>
    </form>
    <div
      class="w-full flex items-center justify-end border-t border-t-slate-300 mt-5 pt-5"
    >
      <app-cta
        [color]="'accent'"
        [buttonText]="routeData['cta']"
        [action]="routeData['action']"
      ></app-cta>
    </div>
  </ng-container>
  <ng-template #loader>
    <app-loader class="m-auto"></app-loader>
  </ng-template>
</div>
