<!-- NAV IF EDITING THEME -->
<nav
  class="bg-white px-5 h-16 flex flex-row items-center justify-between align-center sticky z-20 inset-0 z-20 border-b"
>
  <div class="flex flex-row items-center">
    <button class="flex items-center">
      <mat-icon
        *ngIf="isHandset$ | async"
        class="mr-2"
        (click)="drawer.toggle()"
        >menu</mat-icon
      >
      <span class="text-base lg:text-2xl font-semibold text-center"
        >Editor</span
      >
    </button>
  </div>
  <div class="flex items-center gap-x-1">
    <app-cta
      color="primary"
      [buttonText]="routeData['cta']"
      [action]="routeData['action']"
      type="stroked"
    ></app-cta>
    <app-cta
      color="primary"
      [buttonText]="routeData['second_cta']"
      [action]="routeData['second_action']"
      type="raised"
    ></app-cta>
  </div>
</nav>
<!-- NAV IF EDITING THEME -->
<mat-drawer-container autosize class="no-scroll relative z-20">
  <mat-drawer
    #drawer
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    class="w-4/5 md:w-1/5 bg-white"
  >
    <div class="flex flex-col justify-between items-start min-h-screen w-full">
      <mat-nav-list class="w-full">
        <a
          mat-list-item
          *ngFor="let item of navListItems"
          (click)="navigate(item)"
        >
          <span class="full-width">{{ item.label }}</span>
          <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        </a>
      </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
