<div class="w-full grid grid-cols-12 p-5">
  <div class="md:col-span-6 col-span-12 flex items-center justify-center">
    <img
      *ngIf="product.image"
      [src]="product.image"
      alt="{{ product.title }}"
      class="object-contain"
    />
  </div>
  <div
    class="md:col-span-6 col-span-12 flex flex-col items-start justify-center bg-slate-100 p-5 md:p-10 drop-shadow-md rounded"
  >
    <!-- Highlighted Badge -->
    <span
      class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
    >
      {{ product.badge }}
    </span>
    <!-- Product Title -->
    <h2 class="text-xl lg:text-3xl font-semibold mt-2">
      {{ product.title }}
    </h2>
    <!-- Star Rating & Score -->
    <div class="flex items-center mt-2 mb-3">
      <div class="flex text-yellow-400">
        <!-- Add the stars based on rating -->
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
      <span class="ml-2 font-semibold">{{ product.ratings }}</span>
    </div>
    <!-- Features -->
    <ul class="relative">
      <li *ngFor="let feature of features">
        {{ feature }}
      </li>
    </ul>
    <!-- CTA -->
    <div class="w-full flex flex-col justify-center pt-5">
      <button
        class="text-white bg-primary py-2 px-4 rounded-md hover:bg-amazonDarkBlue"
      >
        {{ product.buttonText }}
      </button>
    </div>
  </div>
</div>
