<div class="p-5">
  <swiper
    [config]="config"
    (swiper)="onSwiper($event)"
    #slideshow
    (slideChange)="onSlideChange()"
    class="swiper-container"
    [ngStyle]="{ 'next-class': '#000000' }"
    [slidesPerView]="(isHandset$ | async) ? 2 : 3"
  >
    >
    <ng-container *ngFor="let slide of products; let i = index">
      <ng-template swiperSlide>
        <div
          class="relative flex flex-col items-center hover:border-2 hover:cursor-pointer hover:border-slate-500 p-2"
        >
          <img [src]="slide.image" class="lg:h-96 h-48 object-contain" />
          <div class="font-medium">{{ slide.title }}</div>
          <!-- Absolute Actions -->
          <div class="z-20 flex absolute top-5 right-5 items-center">
            <button
              (click)="delete(slide, i)"
              class="m-2 bg-gray-200 w-10 h-10 flex items-center justify-center text-sm rounded-lg"
            >
              <mat-icon>delete</mat-icon>
            </button>

            <button
              (click)="edit(slide, i)"
              class="m-2 bg-gray-200 w-10 h-10 flex items-center justify-center text-sm rounded-lg"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </swiper>
</div>
