<ng-container *ngIf="block">
  <ng-container *ngIf="block.visible">
    <form action="#" method="post" class="flex justify-center">
      <input
        type="email"
        class="rounded-l-lg p-4 border-t mr-0 border-b border-l bg-white"
        placeholder="your@email.com"
      />
      <button
        [ngStyle]="{
          'border-color': styles.primary,
          'background-color': styles.primary,
          color: styles.primaryContent
            ? styles.primaryContent
            : darkOrLight(styles.primary)
        }"
        class="px-8 rounded-r-lg font-normal p-4 uppercase border-t border-b border-r"
      >
        Subscribe
      </button>
    </form>
  </ng-container>
</ng-container>
