<div class="grid grid-cols-2 md:grid-cols-3 gap-4 p-5">
  <ng-container *ngFor="let product of data; let i = index">
    <div class="relative">
      <img class="h-auto max-w-full rounded-lg" [src]="product.image" alt="" />
      <!-- Absolute Actions -->
      <div class="flex absolute -top-5 right-5 items-center">
        <button
          (click)="delete(product, i)"
          class="m-2 bg-gray-200 w-10 h-10 flex items-center justify-center text-sm rounded-lg"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          (click)="edit(product, i)"
          class="m-2 bg-gray-200 w-10 h-10 flex items-center justify-center text-sm rounded-lg"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>
