<div class="flex flex-col items-center justify-center gap-y-5 p-5">
  <div class="font-semibold text-xl text-center">Block selector</div>
  <div class="font-semibold">Sections</div>
  <div class="grid grid-cols-12 gap-2">
    <div
      *ngFor="let section of sections"
      class="cursor-pointer p-3 relative hover:bg-slate-100 rounded col-span-4 flex flex-col gap-1 items-center justify-center"
      (click)="addBlock(section, 'GENERAL_BLOCKS')"
    >
      <mat-icon>{{ section.icon }}</mat-icon>
      <div class="text-center text-sm">{{ section.name }}</div>
    </div>
  </div>
  <div class="font-semibold">Tools</div>
  <div class="grid grid-cols-12 gap-2">
    <div
      *ngFor="let tool of tools"
      class="cursor-pointer p-3 relative hover:bg-slate-100 rounded col-span-4 flex flex-col gap-1 items-center justify-center"
      (click)="addBlock(tool, 'TOOL')"
    >
      <mat-icon>{{ tool.icon }}</mat-icon>
      <div class="text-center text-sm">{{ tool.name }}</div>
      <div class="hidden absolute hover:flex">
        <mat-icon class="text-accent">add</mat-icon>
      </div>
    </div>
  </div>
</div>
