<div id="toolbar">
  <span class="ql-formats">
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
    <button class="ql-strike"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-blockquote"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-list" value="ordered"></button>
    <button class="ql-list" value="bullet"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-align" value=""></button>
    <button class="ql-align" value="center"></button>
    <button class="ql-align" value="right"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-link"></button>
    <button class="ql-image"></button>
  </span>
  <span class="ql-formats">
    <select class="ql-color"></select>
  </span>
  <span class="ql-formats">
    <select class="ql-background"></select>
  </span>
  <span class="ql-formats">
    <button class="ql-strike"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-clean"></button>
  </span>
</div>
<div [formGroup]="form">
  <quill-editor
    *ngIf="!!editorModules"
    class="overflow-scroll w-full"
    [ngClass]="height"
    [modules]="editorModules"
    [formControlName]="control"
    rows
  ></quill-editor>
</div>
