.mat-table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
}

.title {
  width: 100%;
  text-align: left;
}

.published_at {
  width: auto;
  text-align: left;
}
